node_modules/
*node_modules
/node_modules
.npm

# API keys and secrets
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency directory
node_modules
bower_components

# Logs
logs
*.log
npm-debug.log*

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
package-lock.json